---
import { Image } from "astro:assets";

import junction2018 from "../assets/gallery/junction2018.jpg";
import santi from "../assets/gallery/santi.jpg";
import kids from "../assets/gallery/kids.jpg";
import sec from "../assets/gallery/sec.jpg";
import junction20181 from "../assets/gallery/junction2018-1.jpg";
import app from "../assets/gallery/app.jpg";
import bitup from "../assets/gallery/bitup.jpg";
import soldadura from "../assets/gallery/soldadura.jpg";
import hacking from "../assets/gallery/hacking.jpg";
import junction2019_1 from "../assets/gallery/junction2019-1.jpg";
import pepemod from "../assets/gallery/pepemod.jpg";
import atresmedia from "../assets/gallery/atresmedia.jpg";
import junction2019 from "../assets/gallery/junction2019.jpg";
import printer3d from "../assets/gallery/printer3d.jpg";
import flp1 from "../assets/gallery/flp1.jpg";
import soldadura1 from "../assets/gallery/soldadura1.jpg";
import nn1 from "../assets/gallery/nn1.jpg";
import fosc from "../assets/gallery/fosc.jpg";
---

<div class="columns-3xs gap-4">
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={junction2018} alt="Winners at Junction 2018" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={santi} alt="Explaining MCU glitching at Makers Murcia" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={kids} alt="Showing 3D printing at Semana de la Ciencia" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={sec} alt="More Semana de la Ciencia" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={junction20181} alt="Hacking at Junction 2018" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={app} alt="Speaking for Puertas Violetas app" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={bitup} alt="Giving an ESP32 hacking talk at BITUP 2019" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={soldadura} alt="Learning to solder" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={hacking} alt="Installing Coreboot open firmware into a Thinkpad x230" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={junction2019_1} alt="Posing at Junction 2019" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={pepemod} alt="Soldering Nitrocaster's adapter board to a Thinkpad x230" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={atresmedia} alt="Having fun in Atresmedia" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={junction2019} alt="Hacking at Junction 2019" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={printer3d} alt="3D printer, 3D printing" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={flp1} alt="First FOSC LAN Party" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={soldadura1} alt="Soldering workshop" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={nn1} alt="Giving an open firmware talk at Navaja Negra 2019" />
  <Image class="mb-4 rounded-lg transform scale-100 hover:scale-105 transition-transform duration-300 ease-in-out" src={fosc} alt="Showing some stuff during Cable Amarillo" />
</div>
